* {
    margin: 0;
}
body {
    height: 100%; 
    width: 100%;
} 
/* --------------------------header------------------------ */

header {
    background-image: url(../images/first_screen.png);
    max-width: 1366px;
    height: 640px;
    margin: 0 auto;
}
.navigation {
    height: 100px;
    border-bottom: 1px solid #A1A1A1;
    padding-top: 30px;
    box-sizing: border-box;
    margin-bottom: 110px;
}

.menu {
    float: right;
}

.menu li {
    display: inline-block; 
    list-style-type: none;
    margin: 0 20px 50px;

}

.menu_link {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: #FFFFFF;
}

h3 {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#FFFFFF;
}

h1 {
    width: 570px;
    height: 79px;
    margin: 15px auto 40px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 40px;
    text-align: center;
    color: #FFFFFF;
}

.form_button {
    text-align: center;  
}

.button_our_work {
    width: 200px;
    height: 45px;
    background-color: #4985FF;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25);
    border-radius: 30px;
    border: 1px solid #4985FF; 
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF; 
    cursor: pointer;
}

/* --------------------------section class=services------------------------ */

.services {
    max-width: 1366px;
    margin: 0 auto;
    background-color: #FFFFFF;
    padding-bottom: 20px;
}

h2 {
    width: 570px;
    height: 79px;
    margin: 70px auto 25px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #323232;
    text-align: center;
}

p {
    width: 625px;
    height: 47px;
    margin: 0 auto 30px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #999999;
}

.service {
    display: flex;
    justify-content: space-between;
    width: 1150px;
    margin: 0 auto 30px;

}
.block_circle {
    width: 305px;
    height: 165px;
    display: inline-block;
    padding-right: 10px;
}

.circle {
    padding: 13px 0 0 13px;
    width: 115px;
    height: 115px;
    border: 1px solid #E0E0E0;
    border-radius: 50%;
    float: left;
    clear: both;
}
.circle1{
    text-align: center;
    box-sizing: border-box;
    border: 1px solid #4985FF;
    border-radius: 50%;
    padding-top: 25px;
    width: 100px;
    height: 100px;
}

.services_name {
    width: 137px;
    height: 20px;
    display: block;
    float: right;
    margin: 50px 30px 0 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #000000;
}


.services_description {
    margin-left: 10px;
    display: inline-block;
    width: 165px;
    height: 65px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: left;
}

/* --------------------------section class=standards------------------------ */

.standards {
    max-width: 1366px;
    height: 600px;
    margin: 0 auto;
    background-color: #F6F6F8;
}

.standards_block {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto 40px;
}

.standards_block1 {
    width: 400px;
}

.standards_name {
    width: 350px;
    height: 70px;
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #323232;
}

.standards_description {
    width: 350px;
    height: 145px;
    text-align: start;
    font-family: Montserrat;
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
    padding-left: 5px;
}
.about-us_text {
    display: inline-block;
    width: 350px;
    height: 20px;
    padding-left: 25px; 
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}

.standards_block2{
    width: 500px;
    height: 400px;
}

.standards_line {
    width: 1000px;
    margin-left: 200px;
    border: 1px solid #E0E0E0;
}

.web_block {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 40px 0 40px 200px;
}
.web_block1{
    display: inline-block;
    padding: 2px;
}

.picture_web{
    float: left;
}
 .web_text {
    width: 100px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 34px;
    color: #000000;  
}

.web_description {
    width: 100px;
    height: 0;
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

/* --------------------------section class=our_work------------------------ */
.our_work {
    max-width: 1366px;
    height: 700px;
    margin: 0 auto;
    position: relative;
}

.our_work1 {
    max-width: 1366px;
    height: 350px;
    margin: 0 auto;
    background: linear-gradient(90deg, #504DC2 20.44%, #5F12D0 80.91%), linear-gradient(0deg, #C4C4C4, #C4C4C4);
    padding: 0.1px 0;
}
.our_work1_name{
    margin: 40px 0 0 200px;
    width: 365px;
    height: 70px;
    text-align: start;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #FFFFFF;
    display: inline-block;
    float: left;
}
.form_button1 {
    display: inline-block;
    margin: 40px 0 0 430px;
}

.our_work2 {
    max-width: 1366px;
    height: 300px;
    margin: 0 auto;
    padding-top: 100px;
    background-color: #ffffff;
}
.our_work2_text01 {
    display: inline-block;
    margin-left: 220px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color:#000000;
}

.our_work2_text02 {
    display: inline-block;
    margin-left: 130px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color:#000000;
}

.our_work2_text03 {
    display: inline-block;
    margin-left: 120px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    color:#000000;
}

.our_work2_description01 {
    display: inline-block;
    width: 233px;
    height: 80px;
    margin: 10px 0 0 220px;
    text-align: start;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.our_work2_description02 {
    display: inline-block;
    width: 233px;
    height: 80px;
    margin: 10px 0 0 130px;
    text-align: start;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.our_work2_description03 {
    display: inline-block;
    width: 233px;
    height: 80px;
    margin: 10px 0 0 120px;
    text-align: start;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    color: #999999;
}

.our_work_link01 {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px 0 50px 218px; 
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}

.our_work_link02 {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px 0 50px 345px; 
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}

.our_work_link03 {
    display: inline-block;
    width: 20px;
    height: 20px;
    padding: 10px 0 50px 335px; 
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #4985FF;
}
.our_work_picture {
    position: absolute;
    top: 170px;
    left: 200px;
    display: flex;
    justify-content: space-between;
    width: 1000px;
} 

/* --------------------------section class=our_projects------------------------ */
.our_projects {
    max-width: 1366px;
    height: 1432px;
    margin: 0 auto;
    position: relative;
}

.our_projects_block1 {
    max-width: 1366px;
    height: 600px;
    margin: 0 auto;
    padding-top: 20px;
    background-color: #F6F6F8;
}

.our_projects_block1_name {
    width: 570px;
    height: 40px;
    margin: 70px auto 25px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #323232;
    text-align: center;
}

.our_projects_block1_part {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 0 auto 50px;
}

.our_project_block2 {
    max-width: 1366px;
    height: 406px;
    margin: 0 auto;
    background-image: url(../images/first_screen_middle.png);
    padding: 0.1px 0;
}

.our_project_video_name {
    width: 570px;
    height: 40px;
    margin: 40px auto 25px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 33px;
    color: #ffffff;
    text-align: center;
}

.our_projects_description {
    width: 625px;
    height: 47px;
    margin: 0 auto 30px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
}

.our_projects_block3 {
    max-width: 1366px;
    height: 406px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 0.1px 0;
}

.our_projects_line {
    width: 1000px;
    margin: 150px 0  20px 200px;
    border: 1px solid #E0E0E0;
}

.our_projects_block3_name {
    margin-bottom: 20px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    color:#000000;
}

.our_projects_form {
    box-sizing: border-box;
    width: 456px;
    height: 50px;
    margin-left: 455px;
}

#our_projects_form1 {
    float: left;
    width: 275px;
    height: 45px;
    border: 1px solid  #F2F2F2;
    border-radius: 30px 0 0 30px;
    box-shadow: 0px 0px 10px rgba(111, 111, 111, 0.25); 
}

.our_projects_form2 {
    width: 175px;
    height: 47px;
    border: 1px solid #4985FF;
    background-color: #4985FF;
    border-radius: 0 30px 30px 0;
    box-shadow: 0px 0px 10px rgba(97, 96, 96, 0.25);
    color:#FFFFFF;
    cursor: pointer;
}    

.our_projects_description1 {
    width: 400px;
    height: 47px;
    margin: 10px auto 30px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 25px;
    text-align: center;
    color: #999999;
    padding: 0.1px 0;
}
 .our_projects_block4 {
     position: absolute;
     top: 815px;
     left: 330px;
 }

 .our_projects_block4_video{
     position: relative;
 }

 .video_button1 {
     width: 200px;
     height: 50px;
     background-color: transparent;
     border: 1px solid #ffffff;
     border-radius: 30px;
     color: #FFFFFF;
     position: absolute;
     top: 120px;
     left: 250px;
     cursor: pointer;
 }
 footer {
    max-width: 1366px;
    height: 400px;
    margin: 0 auto;
    padding: 0.1px 0;
    background-color: #F6F6F8;
 }

.general {
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin: 50px auto 30px;
}

.general_name {
    margin-left: 40px;
    padding: 20px 0 20px 0;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    color: #000000;
    text-align: start;
}

ul >li {
    list-style-type: none;
    margin-bottom: 10px;
}

.general_post::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-image: url(../images/envelope.svg);
    background-size: cover;
}

.general_phone::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-image: url(../images/phone.svg);
    background-size: cover;
}

.general_maps::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-image: url(../images/maps.svg);
    background-size: cover;
}

.general_arrow::before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin-right: 10px;
    background-image: url(../images/arrow.svg);
    background-size: cover;
} 

ul >li > a {
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}

.footer_line {
    width: 1000px;
    margin: 60px 0 20px 200px;
    border: 1px solid #E0E0E0;
}